
<div class="mat-card1">
  <h3 class="h3_title">Basic url shortener</h3>
  <mat-card class="card">
    <form [formGroup]="urlForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="input">
          <p>Url that you want to shorten:</p>
          <input matFormField type="text" formControlName="url">
        </div>
        <div class="input">
          <p>Slug:</p>
          <input matFormField type="text" formControlName="slug">
        </div>
      
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" [disabled]="!urlForm.valid"  mat-button class="btn">Submit</button>
    </mat-card-actions>
  </form>
  <p *ngIf="created">Url created successfuly! link: {{createdUrl}} </p>
  </mat-card>
</div>

<router-outlet></router-outlet>